/* COMMON */
#steps, #why {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

/* BLOCCO LEZIONI */

/* BLOCCO STEPS */

/* BLOCCO PERCHE */

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* RESPONSIVE FOR SMALL DEVICE */

@media screen and (max-width: 767px){
  #lezioni, #why{
    background-color: bisque;
  }
  img {
    height: 150px;
  }
}

/* RESPONSIVE FOR MEDIUM DEVICE */

@media screen and (min-width: 768px) and (max-width: 991px){
  #lezioni, #why{
    background-color: bisque;
  }
  img {
    height: 150px;
  }
}